doctype html
html
	head
		//- link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		block head
			title Tittle
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')

block content
