doctype html
html
	head
		block head
			title Tittle
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		block scripts

	body
		block content
